#apartamento{

  font-weight: 300;
  ul{font-weight: 200;
    li{list-style: none;}}
  .descripcio{
    h2{font-size: 1.2rem;}
    font-weight: 500;
    font-size:1rem !important;
  }
  .main{padding-top:1rem;}
  .vaixell{margin:2rem;
}
  h5{font-size:85%; font-weight: 500;}
  ul{padding-right:1rem; font-size:82%;

          @include breakpoint(medium) {display: inline-flex;}}
  article li{padding-right:1.5rem; color: $primary-color;}
  article {margin-bottom: 2rem;}
  img{border-radius:0.5rem; @include breakpoint(medium) {margin-top:3rem;} }
  }
